<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Library</title>
       <link rel="stylesheet" href="~/css/StyleSheetLogin.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
